{% extends "base.html" %}
{% block content %}

<div class="container" align="center">
		<h1>고객 리스트</h1>
		<table id="dataTable" class="table table-striped table-bordered"
			style="width: 100%">
			<thead>
				<th>고객번호</th>
				<th>고객id</th>
				<th>고객이름</th>
				<th>전화번호</th>
				<th>우편번호</th>
				<th>고객주소</th>
				<th>상세주소</th>
				<th>참고주소</th>
				<th>삭제</th>
			</thead>
			<tbody>
				{% for custom in customList %}
				<tr>
					<td><a href="/OMS/postview/{{custom.id}}">{{custom.id}}</a></td>
					<td><a href="/OMS/postview/{{custom.id}}">{{custom.userid}}</a></td>
					<td>{{custom.name}}</td>
					<td>{{custom.phone}}</td>
					<td>{{custom.postal}}</td>
					<td>{{custom.address}}</td>
					<td>{{custom.address_ex1}}</td>
					<td>{{custom.address_ex2}}</td>
					<td><a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deletemodal{{custom.id}}">삭제</a>
					<div class="modal fade" id="deletemodal{{custom.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정말로 삭제하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">삭제 후에는 되돌릴 수 없습니다.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-danger" href="/OMS/delete/custom/{{custom.id}}">삭제</a>
        </div>
      </div>
    </div>
  </div>
			</td>
					
				</tr>
				{% endfor %}
			</tbody>
			<tfooter>
			<thead>
				<th>고객번호</th>
				<th>고객id</th>
				<th>고객이름</th>
				<th>전화번호</th>
				<th>우편번호</th>
				<th>고객주소</th>
				<th>상세주소</th>
				<th>참고주소</th>
				<th>삭제</th>
			</thead>
			</tfooter>

		</table>
		<button type="button" class="btn btn-primary"
			onclick="location.href='/OMS/posttest'">새로 등록하기</button>
	</div>

{% endblock content %}
<script>
document.getElementById('collapsePages1').className += " show";
document.getElementById('postres').className += " active";
</script>
{% block datatable %}

 <script src="/static/js/demo/datatables-demo.js"></script>
{% endblock datatable %}