{% extends "base.html" %}
{% block content %}

<div class="container" align="center">
		<h1>가격 정보 리스트</h1>
		<table id="dataTable" class="table table-striped table-bordered"
			style="width: 100%">
			<thead>
				<th>번호</th>
				<th>상품</th>
				<th>적용기간</th>
				<th>가격</th>
				<th>단위</th>
				<th>삭제</th>
			</thead>
			<tbody>
				{% for prices in pricelist %}
				<tr>
					<td><a href="/OMS/priceview/{{prices.id}}">{{prices.id}}</a></td>
					<td><a href="/OMS/priceview/{{prices.id}}">{{prices.prodno.name}}</a></td>
					<td><a href="/OMS/priceview/{{prices.id}}">{{prices.start}} ~ {{prices.end}}</a></td>
					<td>{{prices.price}}</td>
					<td>{{prices.unit}}</td>
					<td><a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deletemodal{{prices.id}}">삭제</a>
					<div class="modal fade" id="deletemodal{{prices.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정말로 삭제하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">삭제 후에는 되돌릴 수 없습니다.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-danger" href="/OMS/delete/price/{{prices.id}}">삭제</a>
        </div>
      </div>
    </div>
  </div></td>
				
				</tr>
				{% endfor %}
			</tbody>
			<tfooter>
			<thead>
				<th>번호</th>
				<th>상품ID</th>
				<th>적용기간</th>
				<th>가격</th>
				<th>단위</th>
				<th>삭제</th>
			</thead>
			</tfooter>
			
		</table>
		<button type="button" class="btn btn-primary"
			onclick="location.href='/OMS/pricereg'">새 가격정보 작성하기</button>
	</div>

{% endblock content %}
 <script>
document.getElementById('collapsePages5').className += " show";
document.getElementById('price').className += " active";
</script>
{% block datatable %}

  <script src="/static/js/demo/datatables-demo.js"></script>
{% endblock datatable %}